body {
    font-family:Georgia, 'Times New Roman', Times, serif;
    background-image:url (background.png)
    margin: 0;
    display: flex;
    justify-content: center;
    padding: 40px;
}
.container{
background-color: white;
 width:500px;
 padding:20px;
 border-radius: 12px;
 box-shadow: 0 8px 25px rgba(0, 0, 0, 0.1);
 
}
h1{
    text-align: center;
    margin-bottom: 20px;
    font-weight:bold;
}

.input-box{
    display: flex;
    flex-direction: column;
    gap: 10px;

}
input, textarea{
    width: 100;
    padding:12px;
    border-radius: 9px;
    border: 1px lightgray;
    font-size: 14px;
    resize:none;

} 
button{
    padding: 12px;
    border:none;
    border-radius: 8px;
    background-color: royalblue;
    color:white;
    font-weight: 600;
    cursor:pointer;
    transition: 0.2s;
}
button:hover{
    background-color:mediumblue;

}
#taskList{
    margin-top: 20px;
    padding: 0px;
    list-style: none;
    
}
.task{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: lavender;
    padding: 12px;
    margin-bottom: 12px;
    border-radius: 9px;

}
.task.completed{
    text-decoration: line-through;
    opacity:0.6 ;

}
.task-buttons{
    display:flex;
    gap:10px;

}
.btn{
border: none;
background: none;
cursor: pointer;
font-size: 16px;
}
.popup.hidden{
    display: none;
}
.popup{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.popup-content{
    background-color: white;
    padding:25px;
    border-radius: 10px;
    text-align: center;

}
#closepopup{
    float:left;
    cursor: pointer;
    font-size: 22px;
}














